body {
  width: 60%;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  
}



.App-header {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  bottom: 200px;
}

.list {
  margin-top: 50px;
  text-align: center;
  
  
}

.bag {
  width: 300px;
  height: auto;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 25px 35px;
  border-radius: 10px;
  box-shadow: 0 0 0 3px rgba(143, 143, 143, 0.1);
  float: left;
}

.bag:hover {
  box-shadow: 0 0 5px 8px rgba(117, 117, 117, 0.1);

}

.image {
	width: 300px;
	height: 250px;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	background-position: center !important;
	background-size: cover !important;
  
}

.collection {
  color: grey;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.type {
  font-weight: 600;
  color: rgb(25, 128, 25);
  cursor: pointer;
  transition: all 0.2s;
}

.name {
  font-weight: 450;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.price {
  margin-bottom: 20px;
  color: rgb(80, 80, 80);
}